
// Gestion du helper "rippleEffect"
	
ripple-effect
	position: fixed
	overflow: hidden

	.circle
		width: 142vmax
		height: 142vmax
		border-radius: 50%
		position: absolute
		background-color: rgba(255, 255, 255, 0.3)
		animation: grow 400ms 0ms ease-in forwards
		transform: translate(-50%, -50%)

@keyframes grow
	0%
		width: 0vmax
		height: 0vmax
	100%
		width: 142vmax
		height: 142vmax