@import ../vars
$spacingBetweenSubMenuItems: 13px

home-sub-menu
	display: grid
	grid-template-columns: repeat(4, 1fr)
	gap: $spacingBetweenSubMenuItems
	height: 30px
	width: calc((100% - #{$spacingBetweenMenuItems}) / 2) 
	margin: 0 auto

	> .is-larger
		grid-column: span 2
