@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Black.ttf")
	font-weight: 900

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-BlackItalic.ttf")
	font-weight: 900
	font-style: italic

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Bold.ttf")
	font-weight: 700

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-BoldItalic.ttf")
	font-weight: 700
	font-style: italic
	
@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Medium.ttf")
	font-weight: 500

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-MediumItalic.ttf")
	font-weight: 500
	font-style: italic

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Regular.ttf")
	font-weight: 400

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Italic.ttf")
	font-weight: 400
	font-style: italic

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Light.ttf")
	font-weight: 300

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-LightItalic.ttf")
	font-weight: 300
	font-style: italic
	
@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-Thin.ttf")
	font-weight: 100

@font-face
	font-family: Roboto
	src: url("ressources/fonts/Roboto-ThinItalic.ttf")
	font-weight: 100
	font-style: italic
	