// Ne pas afficher de curseur particulier ou de sélection textuelle : on est dans un jeu, pas sur facebook !
html
	cursor: default
	
*
	cursor: inherit
	&::selection
		background: none

// Supression de quelques style de base des navigateurs
*
	box-sizing: border-box
	margin: 0
	padding: 0