
home-tile-list
	display: grid
	grid-template-columns: repeat(3, 1fr)
	gap: 37px 31px 

  // Certaines colonnes peuvent être déclarées plus larges et prendront deux colonnes
	> .is-larger
		grid-column: span 2