@import ../vars

$menuItemNormalFontSize: 25px
$menuItemCurrentFontSize: 30px
$menuItemSmallFontSize: 20px
$menuItemCurrentSmallFontSize: 25px

home-menu-item
	display: flex
	align-items: center
	justify-content: center
	background-color: rgba(0, 0, 0, 0.5)
	color: white
	font-weight: 300
	text-align: center
	text-transform: uppercase
	white-space: nowrap
	padding: 0 10px
	font-size: $menuItemNormalFontSize
	line-height: $menuItemNormalFontSize
	transition: background-color 200ms
	will-change: background-color, outline-color

	// Le bouton peut être dans le sous-menu, et donc plus petit
	&.is-smaller
		font-size: $menuItemSmallFontSize
  	line-height: $menuItemSmallFontSize
		font-weight: 400
	
	// Le bouton déjà cliqué a un style particulier
	&.is-current
		background-color: rgba(255, 255, 255, 0.5)
		color: black
		font-weight: 900
		font-size: $menuItemCurrentFontSize
		line-height: $menuItemCurrentFontSize
		
		// Et encore plus particulier s'il est plus large ou dans un sous-menu
		&.is-larger
			flex-grow: 2

		&.is-smaller
			font-size: $menuItemCurrentSmallFontSize
			line-height: $menuItemCurrentSmallFontSize
			font-weight: 500

// Gestion des interactions à la souris
home-menu-item:not(.is-current)
	cursor: pointer
	outline: $borderEffect
	outline-color: transparent
	transition: outline-color 100ms

	&:hover
		outline-color: $borderEffectColor

		&:not(.is-current)
			background-color: rgba(75, 75, 75, 0.5)