@import ../vars

$borderHeight: 38px
$tilePadding: 9px
$headerHeight: 82px
$spacingBelowTitle: 14px
$normalTitleFontSize: 30px
$currentTitleFontSize: 55px

home-tile
	position: relative
	background-color: rgba(0, 0, 0, 0.5)

	// Utilisation de before et after pour gérer les bordures tronquées en haut et bas des tuiles
	&::before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		border-top: $borderEffect
		border-left: $borderEffect
		border-right: $borderEffect
		border-color: $borderEffectColor
		height: $borderHeight

	&::after
		content: ""
		position: absolute
		left: 0
		right: 0
		bottom: 0
		border-left: $borderEffect
		border-right: $borderEffect
		border-bottom: $borderEffect
		border-color: $borderEffectColor
		height: $borderHeight
		
home-tile
	// Positionnement et style des sous-élements de la tuile
	.tile-title
		position: absolute
		top: $tilePadding
		left: $tilePadding
		right: $tilePadding
		height: $headerHeight
		padding: 9px 9px
		background-color: rgba(0, 0, 0, 0.5)
		font-size: $normalTitleFontSize
		line-height: $normalTitleFontSize
		text-transform: uppercase
		color: white
		font-weight: 100

	.tile-imgWrapper
		position: absolute
		bottom: $tilePadding
		left: $tilePadding
		width: calc(100% - 2 * #{$tilePadding})
		height: calc(100% - #{2 * $tilePadding + $headerHeight + $spacingBelowTitle} )
		overflow: hidden

		.tile-image
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center center
			will-change: top left width height


	.tile-description
		position: absolute
		bottom: $tilePadding
		right: $tilePadding
		width: calc(100% - #{2 * $tilePadding})
		background-color: rgba(0, 0, 0, 0.5)
		color: white
		font-weight: 500
		letter-spacing: 0.5px
		padding: 10px
		
	// Les tuiles plus larges on quelques dimensions particulières
	&.is-larger
		.tile-title
			display: flex
			align-items: center
			font-size: $currentTitleFontSize
			line-height: $currentTitleFontSize
			font-weight: 100
			padding: 0 17px

		.tile-description
			max-width: 516px
			right: $tilePadding + 37px

// Le titre peut inclure des mots en gras
.tile-title
	strong
		font-weight: 700

// Gestion des interactions à la souris
home-tile
	cursor: pointer
	transition: background-color 300ms

	&:hover
		background-color: rgba(255, 255, 255, 0.5)
		
		.tile-title
			background-color: rgba(255, 255, 255, 0.5)
			color: black
			
		.tile-image
			width: calc(100% + 2 * 10px)
			height: calc(100% + 2 * 10px)
			transition: width 100ms linear, height 100ms linear, top 200ms ease-out, left 200ms ease-out

	&:not(:hover)
		.tile-image
			transition: width 300ms linear, height 300ms linear, top 300ms linear, left 300ms linear



// Gestion de l'animation d'apparition
home-tile
	&:not(.is-visible)
		opacity: 0
		
	&.is-visible
		animation: tileAppear 400ms 0ms linear

@keyframes tileAppear
	0%
		opacity: 0
		transform: translateY(-20px)
	100%
		opacity: 1
		transform: translateY(0)