$pagePadding: 98px 164px 120px
$spacingBelowHeader: 21px

asobo-home 
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: $pagePadding
	display: flex
	flex-direction: column
	background-image: url("../../ressources/Background.png")
	background-size: cover
	font-family: Roboto, sans-serif

	> home-header
		margin-bottom: $spacingBelowHeader
		animation: homeAppear 600ms 0s linear forwards

	> home-tile-list 
		flex-grow: 1

@keyframes homeAppear
	0%
		opacity: 0
	100%
		opacity: 1
		